#portal-column-content {vertical-align:top;}
#portal-personaltools a {}
#personaltools-custom-login {
    background:url("++resource++collective.pas.oauth.images/custom_listing.gif") no-repeat 2px 2px transparent;
    width:20px;
    height:20px;
    overflow:hidden;
    color:transparent;
}
#personaltools-google-login {
    background:url("++resource++collective.pas.oauth.images/google_listing.gif") no-repeat 2px 2px transparent;
    width:20px;
    height:20px;
    overflow:hidden;
    color:transparent;
}
#personaltools-facebook-login {
    background:url("++resource++collective.pas.oauth.images/twitter_listing.gif") no-repeat 2px 2px transparent;
    width:20px;
    height:20px;
    overflow:hidden;
    color:transparent;
}
#personaltools-facebook-login {
    background:url("++resource++collective.pas.oauth.images/facebook_listing.gif") no-repeat 2px 2px transparent;
    width:20px;
    height:20px;
    overflow:hidden;
    color:transparent;
}


